        /* Reset CSS */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Global Styles */
        /* Global Styles */
        body {
            font-family: Arial, sans-serif;
            color: #333;
            background-image: url("../images/c.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0;
            margin-top: 90px;
            padding: 0;
        }

        /* Contact Section Styles */
        .contact-section {

            padding: 4rem 1rem;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 600px;
            margin: 3rem auto;
            text-align: center;
        }

        .contact-section h1 {
            font-size: 2.5rem;
            color: #009640;
            margin-bottom: 1rem;
        }

        .contact-section p {
            font-size: 1.1rem;
            margin-bottom: 2rem;
            color: #555;
        }

        .contact-form .form-group {
            margin-bottom: 1.5rem;
        }

        .contact-form input[type="text"],
        .contact-form input[type="email"],
        .contact-form textarea {
            width: 100%;
            padding: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 1rem;
            color: #333;
            background-color: #f8f9fa;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            transition: border-color 0.3s ease;
        }

        .contact-form input[type="text"]:focus,
        .contact-form input[type="email"]:focus,
        .contact-form textarea:focus {
            border-color: #009640;
            outline: none;
        }

        .contact-form textarea {
            resize: none;
            height: 150px;
        }

        .contact-form input[type="submit"] {
            background-color: #009640;
            color: #fff;
            padding: 1rem 2rem;
            border: none;
            border-radius: 40px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .contact-form input[type="submit"]:hover {
            background-color: white;
            color: #007d35;
            border: 2px solid #007d35;

        }

        .contact-form input[type="submit"]:active {
            background-color: #F9B233;
        }

        .contact-form input[type="submit"]:focus {
            outline: none;
            box-shadow: 0 0 0 2px #F9B233;
        }