body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

h2,
h4 {
    color: #050505;
    /* Texte principal */
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    color: #E30613;
}

/* Footer */


/* Contenu spécifique à la page */
.formations {
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    margin-top: 60px;
    /* Pour compenser la hauteur du header */
}

.formations h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #050505;
    /* Texte principal */
}

.formations p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    font-weight: 700;
    /* Texte secondaire */
    margin-bottom: 2rem;
}

.formations .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.formation {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 300px;
    text-align: left;
}

.formation:hover {
    transform: scale(1.05);
}

.formation img {
    width: 100%;
    height: auto;
}

.formation .flex {
    padding: 1rem;
}

.formation .title {
    font-size: 1.25rem;
    color: #312783;
    font-weight: bold;
    /* Couleur accentuée */
    margin-bottom: 0.5rem;
}

.formation .description {
    font-size: 1rem;
    color: #777;
    /* Texte tercé */
    margin-bottom: 0.5rem;
}

.formation .date {
    font-size: 0.875rem;
    color: #777;
    /* Texte tercé */
    text-align: right;
    padding: 0.5rem 1rem;
}