/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("../images/a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 70px;
}

.inscription {
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    transform: translateX(50%);
    margin-bottom: 1.5rem;
}

.titre {
    font-size: 2rem;
    color: #009640;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.box-form {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box,
.input-box-2 {
    display: flex;
    flex-direction: column;
}

.input-box p,
.input-box-2 p {
    font-size: 1.2rem;
    color: #312783;
    margin-bottom: 8px;
}

.champ-input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 90%;
}

.champ-input[type="file"] {
    margin-top: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.inscrire {
    background-color: #009640;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.inscrire:hover {
    background-color: white;
    color: #007d35;
    border: 2px solid #007d35;

}

.inscrire:active {
    border: none;
    background-color: #F9B233;
}

.inscrire:focus {
    outline: none;
    box-shadow: 0 0 0 2px #F9B233;
}

.question-si {
    text-align: center;
    margin-top: 20px;
}

.question-si a {
    color: #E30613;
    text-decoration: none;
    font-weight: bold;
}

.question-si a:hover {
    text-decoration: underline;
}

.terms-policy {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.terms-policy input[type="checkbox"] {
    margin-right: 10px;
}

.terms-policy p {
    font-size: 1rem;
    color: #333;
}

.terms-policy a {
    color: #009640;
    text-decoration: none;
    font-weight: bold;
}

.terms-policy a:hover {
    text-decoration: underline;
}